// Colors
$primary-color: #66d9ed;
$dark-color: #1a191d;
$dark-secondary-color: #151e2a;
$light-color: #f5f4fc;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1300px;

$desktop-width: 1260px;

$wide-padding: 48px;
$normal-padding: 24px;
$mobile-padding: 12px;


$slider-width: 850px;
$slider-height: 400px;